/* login Page */
.loginPage1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", cursive;
}

.loginPage {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}

.loginPage h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 2px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}


.loginPage .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

/* login Page */
.signup {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", cursive;
}

.signup1 {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}



.signup1 h3 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: bold;
  padding-left: 10px;
}


.signup .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

.form-field{
  float: right;
  margin-left: 1rem;
}