{% extends 'app/base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% now "Y-m-d" as todays_date %}
<div class="alert alert-success" role="alert">
    <h3>Welcome {{ user.username }}! {% if  user.get_next_donation_date and todays_date > user.get_next_donation_date|date:"Y-m-d" %} You can donate blood {% endif %}</h3> 
    <a href="{% url 'profile'%}" > Go to profile </a>
    <br />
    <a href="{% url 'logout' %}">Logout?</a>
</div>
{% else %}
<div class="alert alert-success" role="alert">
    <h3>Home</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary btn-sm" href="{% url 'signup' %}" role="button">Signup</a>
        <a class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">Login</a>
    </div>
</div>

{% endif %}
{% endblock %}