{% extends 'app/base.html' %}

{% block content %}

<div class="loginPage1">
    <form action="" method="POST">
        <div class="loginPage">
            {% csrf_token %}
            <h1 class="login">login</h1>
            {% for field in form %}
            <div class="inputbox">
                <p>{{ field.label }}: <br> {{ field }}</p>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-outline-primary">Login</button>
            </div>
        </div>
    </form>
    <br>
    <p>Don't have an account? <a href="{% url 'signup' %}">Signup here</a></p>
</div>

{% endblock %}